@import './_reset';

$메인컬러 : #ff0000;



.wow-enter {
    opacity : 0
  }
  
  .wow-enter-active {
    opacity : 1;
    transition : all 500ms;
  }

.red{
    color: $메인컬러;
}



div.container{

    p{
        color: #888;
    }

    h4{
        color: #444;
    }

    .my-alert{
        @mixin 함수(){
            margin: 0 auto;
            width: 20vw;
            height: 26px;
            color: #ff33ee;
            border: 1px solid #888;
            padding: 5px;
            border-radius: 15px;
            line-height: 16px;
        }
        
        @include 함수();

        p{
            color: brown;
        }
    }

    .my-alert2{
        @extend .my-alert;
        background: #ffe591;
    }

    
}